.footer{
    background-color: #b7efff
}
.nav-bg{
    background-color: #b7efff
}

.brand{
    display: inline-block;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: medium ;
}

