.doc-row{
    background-color:white;
    
}
.doc-details{
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.doc-paragraph{
    text-align: center;
    font-size: medium;
}
.doc-img-div{
    
    display: flex;
    justify-content: center;
    
}
.doc-img{
    width: 200px;
    border-radius: 100px;
    border: 3px solid black;
}
.row-2{
    background-color:white;

}
.bill-text{
    text-align: center;
    font-weight: 500;
    
}
/* .selectbox{
   
} */
.patient-details{
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.row-3{
    background-color: white;
}
.row-4{
    background-color: white;
}
