.profile-1{
    background-color: rgb(1, 170, 204);
}
.profile-2{
    background-color: rgb(198, 198, 198)
}
.patient-name{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}
.patient-img{
    width: 200px;
    border-radius: 300px;
    border: 2px solid black;
}
.row-1-txt{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    
}
.row-2-test-txt{
    
    font-size: medium;
    font-weight: 400;
}
.row-2-treatment-txt{
    
    font-size: medium;
    font-weight: 400;
}
